 <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Welcome to Gallery</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><%= link_to "Albums", albums_path%></li>
          <% if user_signed_in?%>
              <li class="pull-right">
                <%= link_to "Sing Out", destroy_user_session_path, :method => :delete %>
              </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

